<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Janken Game</title>
</head>

<body>
  <a href="/logout">ログアウト</a>

  <h1>Janken Game!</h1>

  <p>Hi [[${username}]]</p>

  <h2>エントリー</h2>
  <ul>
    <li th:each="user : ${users}"><a th:href="@{/match(id=${user.id})}"> [[${user.name}]]</a></li>
  </ul>

  <h2>アクティブな試合</h2>
  <li th:each="matchInfo : ${activeMatches}"
    th:text="'id:' + ${matchInfo.id} + ' user1:' + ${matchInfo.user1} + ' user2:' + ${matchInfo.user2} + ' isActive:' + ${matchInfo.isActive}">
  </li>

  <h2>試合結果</h2>

  <li th:each="match : ${matches}"
    th:text="'id:' + ${match.id} + ' user1:' + ${match.user1} + ' user2:' + ${match.user2} + ' user1の手:' + ${match.user1Hand} + ' user2の手:' + ${match.user2Hand}">
  </li>


</body>

</html>
