<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Match</title>
</head>

<body>

  <h1>Match</h1>

  <h2>
    <span th:text="${loginUserName}"></span> vs <span th:text="${opponent.name}"></span>
  </h2>

  <h2>手を選んでください</h2>
  <p>
    <a th:href="@{/fight(opponentId=${opponent.id}, myHand='Gu')}">グー</a> |
    <a th:href="@{/fight(opponentId=${opponent.id}, myHand='Choki')}">チョキ</a> |
    <a th:href="@{/fight(opponentId=${opponent.id}, myHand='Pa')}">パー</a>
  </p>

  <div th:if="${result != null}">
    <hr>
    <h2>対戦結果</h2>
    <p>あなたの手: <span th:text="${myHand}"></span></p>
    <p>相手の手: <span th:text="${cpuHand}"></span></p>
    <h3>結果: <span th:text="${result}"></span></h3>
    <hr>
  </div>
  <p>
    <a href="/janken">もどる</a>
  </p>
</body>

</html>
